<div class="container" *ngIf="company" style="margin-top: 80px;"> 
    <table class="table table-striped table-bordered" border = "1"> 
        <thead> 
            <tr> 
                <th>Company</th> 
                <th>Trademark</th> 
                <th>Sponsorship</th> 
                <th>Go to Website</th> 
            </tr> 
        </thead> 
            <tbody> 
                <tr *ngFor="let user of company"> 
                <td>{{user.company}}</td> 
                <td>{{user.trademark}}</td> 
                <td>{{user.sponsorship}}</td> 
                <td>{{user.gotowebsite}}</td> 
            </tr> 
            </tbody> 
    </table> 
</div> 